/********** tag selector **********/
body {
  margin: 0;
  text-align: center;
  font-family: Montserrat, sans-serif;
}

h1 {
  color: #404040;
  font-family: Montserrat SemiBold, sans-serif;
  font-size: 4rem;
  line-height: 2;
}

h2 {
  color: #404040;
  margin: 0 auto 0 auto;
  font-family: Montserrat SemiBold, sans-serif;
  font-size: 2rem;
  font-weight: normal;
}

h3 {
  color: #404040;
  font-family: Montserrat SemiBold, sans-serif;
}

p {
  color: #404040;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #9ED900;
  border-width: 8px;
  width: 4%;
}

a{
  color: #FFFFFF;
  margin: 24px;
  font-size: 1rem;
}

a:hover{
  color: #9ED900;
}


/********** class selector **********/
.top-bubble {
  position: relative;
  top: 30px;
  left: 450px;
}

.bottom-bubble {
  position: relative;
  top: 560px;
  left: -450px;
}


.top-container {
  background-color: #FFFFFF;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  padding-top: 100px;
  padding-bottom: 100px;
}

.bottom-container {
  background-color: #0F4C81;
  padding-top: 100px;
  padding-bottom: 100px;
}

.title-desc {
  color: #404040;
  width: 40%;
  margin: 24px auto 24px auto;
  font-family: Montserrat Light, sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
}

.welcome-row {
  width: 50%;
  margin: 100px auto 100px auto;
  font-size: 1.5rem;
}

.components {
  margin: 100px auto 100px auto;
  width: 70%;
}

.components-row {
  padding: 80px;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  background-color: #F5F5F5;
}

.btn-img {
  width: 100%;
}

.tag-img {
  width: 100%;
}

.mdl-img {
  width: 100%;
}

.contact-spacing {
  margin: 48px auto 48px auto;
  color: #0F4C81;
}

.contact-text {
  margin: 48px auto 48px auto;
}

.contact-me {
  margin: 100px auto 100px auto;
  padding-bottom: 50px;
}

.btn {
  background: #0F4C81;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Montserrat SemiBold, sans-serif;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #9ED900;
  color: #FFFFFF;
}

.footer-text{
  color: #9ED900;
  margin-top: 48px;
  font-size: 1.2rem;
}
